apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: image-registry.openshift-image-registry.svc:5000/social-media-app/user-service:latest
          ports:
            - containerPort: 3001
          env:
            - name: NODE_ENV
              value: production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: post-service
  template:
    metadata:
      labels:
        app: post-service
    spec:
      containers:
        - name: post-service
          image: image-registry.openshift-image-registry.svc:5000/social-media-app/post-service:latest
          ports:
            - containerPort: 3002
          env:
            - name: NODE_ENV
              value: production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: comment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: comment-service
  template:
    metadata:
      labels:
        app: comment-service
    spec:
      containers:
        - name: comment-service
          image: image-registry.openshift-image-registry.svc:5000/social-media-app/comment-service:latest
          ports:
            - containerPort: 3003
          env:
            - name: NODE_ENV
              value: production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: message-service
  template:
    metadata:
      labels:
        app: message-service
    spec:
      containers:
        - name: message-service
          image: image-registry.openshift-image-registry.svc:5000/social-media-app/message-service:latest
          ports:
            - containerPort: 3004
          env:
            - name: NODE_ENV
              value: production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: image-registry.openshift-image-registry.svc:5000/social-media-app/frontend:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
